<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>





<% messages.each do |message| %>

  <a href="/messages/<%= message["id"] %>/show">
    <%= message["message"] %></a>
  <p></p>

  <form method="get" action="/messages/<%= message["id"] %>/edit">
    <input type="submit" value="Edit Message"/>
  </form>
  <form method="post" action="/messages/<%= message["id"] %>">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Message"/>
  </form>
  <form method="get" action="/comments/<%= message["id"] %>">
    <input type="submit" value="Add Comment"/></form>

  <p>Likes:</p>
  <% if message["likes"] == nil %>
    <p>0</p>

  <% else %>
    <%= message["likes"] %>
  <% end %>
  <p></p>
  <form method="post" action="/messages/<%= message["id"] %>/add_like">
    <input type="hidden" name="_method" value="patch"/>
    <input type="submit" value="Like"/>
  </form>
  <form method="post" action="/messages/<%= message["id"] %>/delete_like">
    <input type="hidden" name="_method" value="patch"/>
    <input type="submit" value="Unlike"/>
  </form>

  Comments:
  <% comments.each do |comment| %>
    <p>
      <% if comment["message_id"] == message["id"] %>
        <%= comment["comment"] %></p>
      <% end %>
      <p></p>

  <% end %>
  <p>----------------------------------------------------------------------</p>
<% end %>




